page-user-profile {
    .profile-image-wrapper {
      text-align: center;
      margin: 20px 0;

      .profileImage {
        width: 240px;
        height: 240px;
        border-radius: 50%;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .item-md.item-block .item-inner {
        padding-left: 8px;
        border-bottom: 1px solid #dedede;
        width: 105%;
      }



      .profile-image-placeholder {
        display: inline-block;
        background-color: #eee;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        font-size: 12px;
        ion-icon {
          font-size: 44px;
          margin-bottom: -10px;
          margin-top: 10px;
        }
      }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: pink;
  }
    ::-moz-placeholder { /* Firefox 19+ */
      color: pink;
  }
    :-ms-input-placeholder { /* IE 10+ */
      color: pink;
  }
    :-moz-placeholder { /* Firefox 18- */
      color: #fff;
  }
    .flatpageBacking{
      background:#222;
    }
    .inputField{
      background:#000
    }

    .aboutCenter{
      text-align:center;
      font-weight: bold;
      color:#fff;
      background: #000;
    }

    .aboutCenterdesc{
      text-align:center;
      font-weight: lighter;
      color:#fff;
      padding-top:3%;
      padding-bottom:3%;
      background: #000;
    }
    .nametag{
       background:#000;
       margin:0 0 0 0;
    }
    .userHeader{
      text-align:center;
      font-weight: normal;
      color:#fff;
      font-size: 18px;
    }

    .profileinfoRight{
      text-align: Right;
      float:right;
      color:#fff;
      background:#000;
      padding:0 1% 0 0;
      margin:0;
      font-size:18px;
    }

    .profileinfoLeft{
      text-align: Left;
      color:#fff;
      background:#000;
      padding:0 0 0 1%;
      margin:0;
      font-size:18px;
      font-weight:100;

    }
    .navButtonCreate{
      color:#000;
      font-size: 18px;
      width: 70%;
      margin-left:15%;
      border-radius: 24px 24px 24px 24px;
      background-color:#5e81C7;
      padding:0;
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#5e81C7, endColorstr=#65a5C0);
      background-image:-moz-linear-gradient( to left, #5e81C7 0%, #65a5C0 50%,#Cf42B0 100%);
      background-image:linear-gradient(to left, #5e81C7 0%, #65a5C0 50%,#Cf42B0 100%);
      background-image:-webkit-linear-gradient(to left, #5e81C7 0%, #65a5C0 50%,#Cf42B0 100%);
      background-image:-o-linear-gradient(to left, #5e81C7 0%, #65a5C0 50%,#Cf42B0 100%);
      background-image:-ms-linear-gradient(to left, #5e81C7 0%, #65a5C0 50%,#Cf42B0 100%);
      background-image:-webkit-gradient(linear, left bottom, right bottom, color-stop(0%,#5e81C7), color-stop(50%,#65a5C0),color-stop(100%,#Cf42B0));
    }
    .text-input::-moz-placeholder {
      color: white;
      padding-left:0;
    }

    .text-input:-ms-input-placeholder {
      color: white;
      padding-left:0;
    }

    .text-input::-webkit-input-placeholder {
      text-indent: 0;
      color: white;
      padding-left:0;
    }

    .item-md {
      padding-left: 0 !important;
      border-bottom: 1px solid #dedede;
      width: 105%;
    }

    .item-md.item-block .item-inner {
      padding-left: 8px;
      padding-right: 8px;
      border-bottom: 1px solid #dedede;
      width: 105%;
    }
    .label-md {
      margin: 13px 8px 13px 0;
      padding-right: 8px;
  }
  .item-ios {
    padding-left: 0 !important;
    border-bottom: 1px solid #dedede;
    width: 105%;
  }

  .item-ios.item-block .item-inner {
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 1px solid #dedede;
    width: 105%;
  }
  .label-ios {
    margin: 13px 8px 13px 0;
    padding-right: 8px;
  }
  }
