<ion-content style="Background:#222">\
  <p (click)="cancel()" class="arrow">&#8592;</p>
  <form *ngIf="form" [formGroup]="form">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
        <img *ngIf="image_available" class="profileImage" src="{{entry.getElementsByTagName('enclosure')[0].getAttribute('url')}}">
        <img *ngIf="!image_available" class="profileImage" src="../assets/img/defaultCamera.png">
    </div>
    <ion-item style="background:#000">
      <p class="aboutCenter">About <a style="color:#fff">&#x2710;</a></p>
      <p class="aboutCenterdesc" *ngIf="!this.form.controls.about.value">What's your story?</p>
    </ion-item>
    <ion-item style="background:#222">
      <p class="userHeader">User Information</p>
  </ion-item>

    <ion-item style="background:#000;">
      <p class="profileinfoLeft">Name <a class="profileinfoRight" *ngIf="!this.form.controls.name.value">{{name}} </a></p>
    </ion-item>

    <ion-item style="background:#000;">
      <p class="profileinfoLeft">Location <a class="profileinfoRight" *ngIf="!this.form.controls.Location.value">{{Location}}</a></p>
    </ion-item>

    <ion-item style="background:#000;">
      <p class="profileinfoLeft">Genres</p>
    </ion-item>

    <ion-item style="background:#000;">
      <p class="profileinfoLeft">Equipment</p>
    </ion-item>

    <ion-item style="background:#000;">
      <p class="profileinfoLeft">Connect</p>
    </ion-item>

    <ion-item style="background:#222">
      <p class="userHeader">Booking information</p>
    </ion-item>

    <ion-item style="background:#000;">
      <p class="profileinfoLeft">Services</p>
    </ion-item>

    <ion-item style="background:#000;">
      <p class="profileinfoLeft">Meet up Location</p>
    </ion-item>
    <ion-item style="background:#000;">
      <p class="profileinfoLeft">Availability</p>
    </ion-item>

    <ion-item style="background:#000;">
      <p class="profileinfoLeft">Cancellation Policy </p>
    </ion-item>

  </form>
</ion-content>
